---
import { Div } from "../components/Div.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>¿Is it AI or Human?</title>
  </head>
  <body class="text-white bg-[#12151C] max-w-screen-lg mx-auto">
    <Div client:load />
  </body>
</html>
